* {
  font-family: cursive;
  border-radius: 800px;
}

body {
  font-family: cursive;
  background-color: antiquewhite;
  background-image: linear-gradient(antiquewhite 0%, #83b5d1 100%);
}
header {
  text-align: center;
  color: antiquewhite;
}
header h1 {
  font-size: 70px;
  font-style: oblique;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: black;
  padding: 0%;
  border: 0%;
}

header h2 {
  font-size: 35px;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: black;
  margin-top: -50px;
}

figure {
  margin-top: -400px;
}

nav {
  font-size: 40px;
  position: relative;
  line-height: 100px;
  margin-left: 1000px;
  scroll-margin-left: 500px;
  margin-top: -500px;
  margin-bottom: 500px;
  padding: 25px;
}

.aboutme {
  /* display: flex 1 0 25;  */
  border-radius: 75px;
  position: relative;
  height: 175px;
  width: 500px;
  /* flex-wrap: wrap;  */
  margin-top: -10px;
  margin-left: 400px;
  margin-bottom: 200px;
  background-color: #83b5d1;
  background-size: 400px;
}

.backimage {
  display: flex 25 25 25;
  background-image: url("/assets/images/norwaysunset.JPG");
  /* background-position: 50% -50px; */

  margin-top: 0%;
  padding: 0%;
}
.linear-gradient-background {
  background-image: ;
}

.backimagestyle {
  background-size: cover;
  background-position: 0% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.contactme {
  position: fixed;
  text-align: center;
  padding: 150px;
  margin-left: 100px;
  margin-top: -1000px;
}

#aboutmeheader {
  margin-left: 550px;
  font-size: 35px;
  color: #673c4f;
  padding: 0%;
  margin-bottom: 0%;
}

#contactmeheader {
  /* do I need to put this class here??*/
}
