* {
  font-family: cursive;
  border-radius: 800px;
}

body {
  font-family: cursive;
  background-color: antiquewhite;
}
header {
  text-align: center;
  color: antiquewhite;
}
header h1 {
  font-size: 70px;
  font-style: oblique;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: black;
  padding: 0%;
  border: 0%;
}

header h2 {
  font-size: 35px;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: black;
  margin-top: -50px;
}

.aboutme {
  display: flex 1 0 25;
  border-radius: 50%;
  position: relative;
  height: 100px;
  width: 500px;
  flex-wrap: wrap;
  margin-top: -375px;
  margin-left: 350px;
  /* margin-bottom: 300px; */
  background-color: #83b5d1;
  background-size: 600px;
}

.backimage {
  display: flex 25 25 25;
  background-image: url("/assets/images/norwaysunset.JPG");
  /* background-position: 50% -50px; */
  margin-top: 0%;
  padding: 0%;
}
.backimagestyle {
  background-size: cover;
  background-position: 0% 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  position: relative;
  margin-left: 1000px;
  scroll-margin-left: 500px;
  margin-bottom: 500px;
  padding: 25px;
}

.contactme {
  position: fixed;
  margin-top: -500px;
}

#aboutmeheader {
  margin-left: 550px;
  font-size: 35px;
  color: #673c4f;
  padding: 0%;
  margin-bottom: 0%;
}
